<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="accesscheck" transaction-type="RESOURCE_LOCAL">

        <class>com.company.accesscheck.entity.A</class>
        <class>com.company.accesscheck.entity.B</class>
        <class>com.company.accesscheck.entity.C</class>
    </persistence-unit>
</persistence>
